
<div class="container">
  <h1>Sign Up</h1>
  <div class="heading">
    <img src="./assets/person.svg" alt="" class="icon">
    <h3>Create your account</h3>
  </div>

  <form [formGroup] = "signup" class="form" (ngSubmit)="submit()">
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" >
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email"
             placeholder="Ex. pat@example.com">
      <mat-error *ngIf="signup.get('email').hasError">
        Please enter a valid email address
      </mat-error>
    </mat-form-field >
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Enter your password</mat-label>
      <input type="password"  matInput formControlName="password" required >
      <mat-error *ngIf="signup.get('password').touched && signup.get('password').invalid">Enter a valid password</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Confirm password</mat-label>
      <input type="password" matInput formControlName="confirm" required>

    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Login</button>

  </form>

  <p style="margin-top: 10px">Don't have an account? <a href="" style="color: #17a2b8">Sign Up</a></p>
</div>
